<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
           vision board
        </title>
        {% load static %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/create_task.css' %}">
      {% endcomment %}
    </head>

    <body>
        <h2>Without a Vision, the people perish</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit">MANIFEST!</button>
        </form>
    </body>
    </html>